/*maps*/
.div--uno {
  background-color: #55acee; }

.div--dos {
  background-color: #3a5795; }

.div--tres {
  background-color: #C25E30; }

/*mixin*/
.div--cuatro {
  height: 80px;
  width: 80px;
  background-color: green;
  margin: 50px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial; }

.carousel-item img {
  object-fit: cover;
  height: 500px;
  margin-bottom: 5px; }

/*tarjetas*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 100%;
  height: 300px;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px #1d5706 solid;
  padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  line-height: 5px;
  object-fit: cover; }
  .card img {
    width: 100%;
    height: 60%;
    overflow: hidden; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.08); }

.cardrontainer {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 25px; }

/*botones del costado*/
.botonwpp {
  position: fixed;
  bottom: 50px;
  right: 20px; }

/*los h1*/
h1 {
  background-color: #1d570644;
  text-align: center;
  font-size: x-large; }

/*losh2*/
h2 {
  background-color: #1d570644;
  text-align: center;
  font-size: x-large; }

/*caja quienes somos*/
.somos {
  display: inline-block; }
  .somos .somos_parrafo {
    font-size: 1.2em;
    margin: 20px;
    margin-top: 50px; }
  .somos .somos_imagen {
    width: 30%;
    float: left;
    margin: 20px; }
  .somos .lista-somos {
    margin-top: 25px; }

/*amoblamiento a medida*/
.grid-gallery {
  margin-top: 10px;
  display: grid;
  grid-auto-rows: 200px;
  gap: 1rem;
  grid-auto-flow: row dense; }

@media all and (min-width: 280px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); }
  .card {
    min-width: 13rem;
    max-width: 25rem; } }

@media all and (min-width: 461px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr); }
  .card {
    min-width: 13rem;
    max-width: 15rem; } }

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr); }
  .card {
    min-width: 15rem;
    max-width: 18rem; } }

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(6, 1fr); }
  .card {
    min-width: 15rem;
    max-width: 16rem; } }

.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1; }

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 1; }

.grid-gallery__item:nth-child(11n+6) {
  grid-column: span 3;
  grid-row: span 1; }

.grid-gallery__item:nth-child(11n+7) {
  grid-column: span 1;
  grid-row: span 2; }

.grid-gallery__item:nth-child(11n+8) {
  grid-column: span 2;
  grid-row: span 2; }

.grid-gallery__item:nth-child(11n+9) {
  grid-row: span 3; }

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*contacto*/
.formulario {
  width: 90%;
  margin: 5%;
  background-color: #23550f09; }
  .formulario h3 {
    text-align: center; }

.mapa {
  width: 90%;
  margin: 5%; }

footer .footer-payship-img {
  margin: 2px; }

footer .text-white {
  text-decoration: none; }
